body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

form, button {
    margin: 10px 0;
    width: 100%;
}

input {
    padding: 10px;
    width: calc(100% - 22px); /* Adjust for padding and border */
    margin-right: 0;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

.buzz {
    height: 40%;
    background-color: transparent;
    border: none;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    input, button {
        padding: 8px;
    }
}
